.modalInner {
    padding-left: unset;
    padding-right: unset;
    right: 0;
    left: 0;
    max-width: calc(100vw - 20px);
    margin: auto;
}

.mantine-Modal-body form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalButton {
    position: fixed;
    bottom: 20px;
    right: 25px;
    cursor: pointer;
    border: 0;
    transition: all 0.25s;
}

.modalButton:hover {
    transform: scale(1.1) translateY(-5px) translateX(-5px);
}

.modal-section-calendar {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 260px;
    flex: 1;
}

.modal-section-inputs {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 260px;
    flex: 1;
}

.modal-container-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.modal-switch {
    margin-top: 10px;
}
