.modalInner {
    padding-left: unset;
    padding-right: unset;
    right: 0;
    left: 0;
}

.modalButton {
    position: fixed;
    bottom: 20px;
    right: 25px;
    cursor: pointer;
    border: 0;
    transition: all 0.25s;
}

.modalButton:hover {
    transform: scale(1.1) translateY(-5px) translateX(-5px);
}