/*----------- Logo -----------*/

.logoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 15px;
}

.logo {
    height: 30px;
    width: auto;
    margin: 0px 10px;
}

/*----------- Navbar -----------*/

.navbar {
    top: 16px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(29, 47, 58, 0.7);
    backdrop-filter: blur(7px);
    border-radius: 25px;
    z-index: 200;
}

.navbarContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 0px 2px;
}

.nav_button {
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(1, .2, 0, .79);
}

.nav_button:hover {
    transform: scale(1.1);
}

.nav_button:active {
    transform: scale(0.95);
}

/*----------- Login Modal -----------*/

.login-button {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 2px;
    max-height: 40px;
    max-width: 40px;
}

.login-button svg {
    margin: 8px;
    width: 1.5em;
    height: 1.5em;
}

.user-avatar {
    border-radius: 50%; /* Zaokrąglenie obrazka do kształtu okręgu */
    width: 100%; /* Dostosuj rozmiar obrazka według potrzeb */
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    z-index: 1000;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
}

.login-box h4 {
    margin: 10px 0;
}

.login-box button {
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #808080;
}

.profile-button {
    border-radius: 50%;
    width: 100%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.profile-button img {
    border-radius: 50%;
}