#root {
    width: 100% !important;
    height: 100% !important;
    padding: 0rem 1rem 1rem;
    text-align: center;
}

.interface {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  gap: 50px;
}

.overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30vw;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.Navbar {
    background-color: #333; /* Zmień kolor tła na ciemny szary */
}

.Navbar.Brand {
    color: #fff; /* Zmień kolor tekstu na biały */
}

.Nav.Link {
    color: #fff; /* Zmień kolor tekstu na biały */
}

.authForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    min-width: 30vw;
}

.authInput{
    width: 100%;
    min-width: 400px;
    margin: 0.5rem 0;
    border-radius: 8px;
    position: relative;
    top: -25px;

}

.auth_log{
    position: relative;
    top: -65px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30vw;
}
.close-button{
    position: relative;
    top: -65px;
    left: 45%;
    background-color: #333;
    color: #fff;
    width: 90px;
    height: 40px;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    cursor: pointer;
    transition: background-color 0.25s;
    
}
.area_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.Reg_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30vw;
    height: 500px;
}