#root {
  width: 100%;
  padding: 0rem 1rem 1rem;
  text-align: center;
}

.interface {
  margin-top: 32px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Navbar {
  background-color: #333; /* Zmień kolor tła na ciemny szary */
}

.Navbar.Brand {
  color: #fff; /* Zmień kolor tekstu na biały */
}

.Nav.Link {
  color: #fff; /* Zmień kolor tekstu na biały */
}
